In [1]:
import json
import pandas as pd

In [2]:
with open('whats-cooking/train.json', encoding="utf-8") as f:
    Data = json.load(f)

In [3]:
df = pd.DataFrame(Data)
df

         id      cuisine                                        ingredients
0     10259        greek  [romaine lettuce, black olives, grape tomatoes...
1     25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2     20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3     22213       indian                [water, vegetable oil, wheat, salt]
4     13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...     ...          ...                                                ...
2097  32220      mexican  [ground black pepper, cayenne pepper, garlic p...
2098   1404         thai  [lime juice, skirt steak, coconut sugar, ginge...
2099  25629      italian  [hazelnuts, baking powder, grated orange peel,...
2100  36545       french  [fennel seeds, black pepper, olive oil, choppe...
2101  46353      italian  [artichoke hearts, shredded mozzarella cheese,...

[2102 rows x 3 columns]

In [4]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [5]:
print(df.head().to_latex())

\begin{tabular}{lrll}
\toprule
{} &     id &      cuisine &                                        ingredients \\
\midrule
0 &  10259 &        greek &  [romaine lettuce, black olives, grape tomatoes... \\
1 &  25693 &  southern\_us &  [plain flour, ground pepper, salt, tomatoes, g... \\
2 &  20130 &     filipino &  [eggs, pepper, salt, mayonaise, cooking oil, g... \\
3 &  22213 &       indian &                [water, vegetable oil, wheat, salt] \\
4 &  13162 &       indian &  [black pepper, shallots, cornflour, cayenne pe... \\
\bottomrule
\end{tabular}